@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$dark: #171717;
$gray: #444;
$red: #da0037;
$light: #ededed;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif, Helvetica;
    scroll-behavior: smooth;
}

body {
    min-width: 100%;
    min-height: 100vh;
    background: $dark;
}

.container {
    position: relative;
    left: 15%;
    width: 85%;
    min-height: 100dvh;
}

main, section {
    display: grid;
    place-items: center;

    .list-title {
        margin: 20px 0;
        color: $light;
        font-size: 2rem;
        text-align: center;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 40vh;

    .card-badge {
        content: "";
        position: relative;
        background: $light;
        padding: 0.4rem;
        clip-path: circle();
        border-radius: 50%;
        color: $red;
    }

    img {
        cursor: pointer;
        max-width: 150px;
        border-radius: 8px;
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }

    h2 {
        text-align: center;
        margin: 10px;
        color: $light;
    }
}

@keyframes reveal {
    from {
        opacity: 0;
        scale: .8 1;
    }

    to {
        opacity: 1;
        scale: 1 1;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        translate: -100vw 0;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}