@import "../../index.scss";

.pagination-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1.4rem;
    color: $light;
    margin: 100px 0;

    .pagination-numbers {
        margin: 0 50px;

        .pagination-number {
            padding: 0.4rem;
            cursor: pointer;

            &:hover {
                color: $red;
            }
        }
    }
}